parameters:
    level: 8
    treatPhpDocTypesAsCertain: false
    paths:
        - src
    ignoreErrors:
        - '#Access to an undefined property Illuminate\\Support\\Fluent#'
        - '#Call to an undefined method Illuminate\\Support\\Fluent::default#'
        - '#generic class Illuminate\\Support\\Fluent but does not specify its types#'
        - '#no value type specified in iterable type array#'
